* {
    margin: 0;
    padding: 0; 
}



/* width */
::-webkit-scrollbar {
    display: none;
  }
 

  /* header */
  body {
      overflow-y: scroll;
      overflow-x: hidden;
  }

  /* HEADER STYLING */
  
  header {
      background-color : #040420 ;
      /* border-bottom: 2px solid rgb(243, 235, 235); */
  }

  header .inputs  {
      position: relative;
      
  }
  
  header .inputs  .first{
      position: absolute;
      left: 10px;
      margin-bottom: 10px;
      top: 25%;
  }
  
  
  header .inputs  .second{
      color: #fff;
      border-color: #18d860;
      font-size: 20px;
      width: 300px;
      padding: 4px 0 4px 50px;
      background-color : #84b1a7 ;
  }
  
  
  header .inputs  .third{
      position: absolute;
      top: 25%;
      right: 10px;
  
  }

   /* fixed Header made */
  .fixed-header{     
      position: fixed;
      top:0;
      left:0;
      right:0;
      z-index: 2;
      background-color:#040420;
      border-bottom: 2px solid white;
  }

  
  /* SECTION Styling */
  section {
      margin-top: 80px;
      padding: 28px;
      /* display: flex; */
      border: 2px solid white;
      /* border-top:20px solid white; */
      background-color : #040420 ;
      height: 100vh;
      width: auto; /* Set the fixed width of the container */
      overflow: auto;
      
  }

   /* .fixedContainer{
      height: 100%;
      overflow: auto;
      padding: 0px;
  } */
  

  .leftSide{
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 40px;
      border-right:2px solid white;

      width:66%;
  }

  .leftSide::-webkit-scrollbar{
      display: none;
  }
  

  /* Start */

  .scrollLeft{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 40px;
    border-right:2px solid white;
    height: 100vh;
    width:66%;
}

.scrollLeft ::-webkit-scrollbar{
    display: none;
}

  

  /* First section */
  section .firstSection > div {
    padding: 2px 5px;
    /* margin-top: 120px; */
}

  .firstSection .bannerBox {
    position: relative;
    overflow: hidden;
}

   
/* .pop:hover{
        height: 15rem;
        width: auto;
    } */

  .firstSection .bannerBox img {
    object-fit: cover;
    /* padding-right: 10rem; */
}

  .firstSection .bannerBox img:hover {
    /* scale: 1.4; */
    transition: 0.4s;
    transform: scale(1.1);
    border: 1x solid red;
    cursor: pointer;
}


  /* Second Section */
  section .secondSection > div {
      margin-bottom: 10px;
  }

  .secondSection{
    margin-bottom: 40px;
  }
  
  .imageBox {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
  
  .leftside .imageBox img {
      object-fit: cover;
  }
  
  .playButton{
      display: none;
      /* position: absolute; */
      top: 38%;
      left: 40%;
      background-color: transparent;
  }
  
  .imageBox:hover .playButton{
      display:block;
      position: absolute;
      top: 38%;
      left: 40%;
      background-color: transparent;
  }
  
  .imageBox:hover .latestImg {
      /* scale: 1.2;
      transition: all ease 1s; */
      cursor: pointer;
      opacity: 0.6;
  }



/* check correction */


  .artist {
      display: flex;
      overflow-x: scroll;
  }
  .artist ::-webkit-scrollbar{
    display: none;
  }
  

  /* till here check */

  .thirdSection > .artistBox  {
      padding-right: 20px;
      padding-top: 20px;
      
  }
  
  .thirdSection .artistBox {
      position: relative;
      /* display:inline-block;
      white-space: nowrap; */
  }
  
  .thirdSection .artistImage {
      width: 100%;
      height: auto;
      cursor: pointer;
     
  }
  
  .thirdSection .text-center{
      font-family: serif;
      font-size: 25px;
  }

  .thirdSection .artistImage img {
      object-fit: cover;
      height: 160px;
      width: 160px;
      border-radius: 50%;
  }
  
  
  
  .forthSection {
      overflow-x: scroll;
      overflow-y: hidden;
      background-color : rgb(20, 30, 50) ;
      scroll-behavior: smooth;
  }

  
  .forthSection > .artistBox  {
      padding-right:10px;
  }
  
  .fix {
      position: sticky;
      left: 0;
      width: 200px; /*width as needed of fixed block */
      z-index: 1;
      background-color: rgb(20, 30, 50);
  }

  .fix .artistImage{
      border: 20px solid rgb(20, 30, 50);
  }


  .fix .imgInsideText {
      position: absolute;
      top: 38%;
      left: 30%;
      background-color: transparent;
      font-size: 30px;
      font-weight: 600;
      font-family: cursive;
      font-style: italic;  
  }


  .forthSection .artistBox  {
      position: relative;
      cursor: pointer;
      margin-left: 10px;

  }
  
  .forthSection .artistImage {
      width: 100%;
      height: auto;
  }


 .move {
      margin-left: 2px; /* Width needed from the fixed box */
      display: flex;
      justify-content: flex-start;
      position: relative;
 }

 .move .artistImage {
      padding-top: 34px;/* maintaing distance from top */
 }

 .move .imgInsideText {
      position: absolute;
      top: 40%;
      left: 24%;
      background-color: transparent;
      font-size: 22px;
      font-weight: 700;
      font-family: cursive;
      font-style: italic;  
}


/* Combined Text set for fix and move class */
  /* section .forthSection .imgInsideText {
      position: absolute;
      top: 40%;
      left: 20%;
      background-color: transparent;
      font-size: 22px;
      font-weight: 700;
      font-family: cursive;
      font-style: italic;
     
  } */
  
  
  .forthSection .artistImage img {
      object-fit: cover;
      border-radius: 50%;
  }
  


  .fifthSection {
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
  }
  
  .fifthSection > .movieBox {
      padding: 0 10px;
  }
  
  .fifthSection .movieImage {
      width: 100%;
      height: auto;
      cursor: pointer;
  }
  
  
  .fifthSection .movieName {
      color: #fff;
      font-size: 22px;
      font-family: serif;
  }
  
  
  .fifthSection .movieDate {
      margin-top: -15px;
      font-size: 16px;
      letter-spacing: 1.5px;
      color: white;
  }
  
  /* .rightSide {
      border: 1px solid #ddd;
      border-top: 2px solid white;
      border-right: 10px solid #040420;
      border-left: 10px solid #040420;
      border-bottom: none;
  } */

  .rightSide .imageBox:hover{
      cursor: pointer;
  }

  #heart:hover{
      cursor: pointer;
  }

 .imageBox{
      padding-top: 15px;
      padding-bottom: 15px;
 }

.rightSide {
      position: absolute;
      height: 100vh;
}

.scrollRight {
      overflow-y: scroll; 
      height:100vh;
      width: 33%;
}

.scrollRight::-webkit-scrollbar {
      display: none;
}

.fixQueue {
    width: 32%; 
    height: 64px;
  /* margin-top: 60px; */
  /* border-top:2px solid #fff; */
    top: 97.5px;
    background-color: #040420;
    position:fixed;
    z-index: 2;
}

.movePlay{
    padding-top: 140px;
    position:absolute;
    bottom:8%;
  /* overflow-y: hidden; */

}

.number{
    font-size: 1.5rem;
    margin-right: 10px;
}
.display{
    padding-top: 10px;
    /* margin:20px; */
    width:18vw;
}
.name{
    width: 2px;
}
.song{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: bradley hand, cursive;
}
.singer{
    font-weight: normal;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
/* <span class="font-weight-bold" style="font-size: 1.5rem; font-family:bradley hand, cursive  ;" >The Climb</span> <br/>  */
/* <span class="font-weight-normal" style="font-size: 20px; font-family:'Times New Roman', Times, serif; " > Miley Cyrus</span> */
  
  @media only screen and (max-width: 767px) {
    
    
      .second{
          width:16px
      }
      .third{
          width: 20px;
      }
      .first{
          width: 20px;
      }
      
      .line{
         border-bottom:1px solid #fff;
      }

      .leftSide{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 40px;
        border-right:2px solid white;
  
        width:66%;
    }
  
    .leftSide::-webkit-scrollbar{
        display: none;
    }

      .firstSection{
        padding-top: 40px;
      }

      .rightSide{
          padding-top: 80px;
      }
      .fixQueue{
          width:33%;
          border-top:20px #fff;
          height:60px;
          top: 156.5px;
          left: 503px;
      }

      .movePlay{
        top:38px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
    }

      .changeFontQ{
          font-size: 24px;
          padding-top: 15px;
          padding-right: 60px;
      }

      .fontQ{
          padding-top: 15px;
          font-size: 24px;
      }

      .number{
        font-size: 1.0rem;
        margin-right: 12px;
    }
    .display{
        padding-top: 10px;
        padding-left: 0px;
        /* margin:20px; */
        width:80px;
    }

    .song{
        font-weight: bold;
        font-size: 1.0rem;
        font-family: bradley hand, cursive;
    }
    .singer{
        font-weight: normal;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
    }
    }

      @media only screen and (max-width: 575px) {
          .fixQueue{
              position: relative;
              top: -80px;
              width: 80vw;
              left: 0px;
              /* padding-top: 68px; */
          }
          

          .leftSide{
            overflow-y: scroll;
            overflow-x: hidden;
            padding-top: 40px;
            border-right:2px solid white;
      
            width:66%;
        }
      
        .leftSide::-webkit-scrollbar{
            display: none;
        }

          .changeFontQ{
            font-size: 32px;
            /* padding-top: 28px; */
            /* border-top: -500px; */
            /* padding-right: 60px; */
        }
  
        .fontQ{
            /* padding-top: 40px; */
            font-size: 32px;
        }


        .movePlay{
            padding-top:0px;
        }

        /* .song{
            font-weight: bold;
            font-size: 1.0rem;
            font-family: bradley hand, cursive;
        } */
        .singer{
            font-weight: normal;
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
        }

        #heart{
            padding-left: 100px;
        }
      }
      
      /* .movePlay{
        height:800px;
      } */

      /* .r{
        left: 0 !important;
      } */
  


    /* .r{
        position: fixed !important;
        left: 66%;
        height: 100vh;
        overflow: scroll;
    } */



  /* .scrollRight{
    width:34%;
    overflow-y:scroll;
  }
  .scrollRight::webkit-scrollbar{
    display:none;
  } */

  /* .scrollLeft {
    overflow-y: scroll;
    width: 66%;
    height: 100vh;
}

.scrollLeft::-webkit-scrollbar {
display: none;
} */

/* .scrollRight {
    overflow-y: scroll; 
height:100vh;
width: 33%
}

.scrollRight::-webkit-scrollbar {
display: none;
} */

  /* @media only screen and (max-width: 768px) {
    
    
    .changeFontQ{
        padding: 60px;
        position:relative;
    }

} */


  
  