* {
    margin: 0;
    padding: 0; 
}



/* width */
::-webkit-scrollbar {
    /* width: 5px;
    height: 2px; */
    display: none;
  }

/*  Track */
  /* ::-webkit-scrollbar-track { */
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
  /* } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb { */
    /* background:  #fff ;  */
    /* border-radius: 10px; */
  /* } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover { */
    /* background: #b30000;  */
  /* } */
  
  /* ::-webkit-scrollbar-thumb:horizontal{ */
      /* background: #fff; */
      /* border-radius: 10px; */
     
  /* } */
 

  /* header */
  body {
      overflow-x: hidden;
  }

  /* HEADER STYLING */
  
  header {
      background-color : #040420 ;
      border-bottom: 2px solid rgb(243, 235, 235);
  }

   /* fixed Header made */
  .fixed-header{     
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 5;
    background-color:#040420;
  }

  header .inputs  {
      position: relative;
      
  }
  
  header .inputs  .first{
      position: absolute;
      left: 10px;
      margin-bottom: 10px;
      top: 25%;
  }
  
  
  header .inputs  .second{
      color: #fff;
      border-color: #18d860;
      font-size: 15px;
      width: 300px;
      padding: 4px 0 4px 36px;
      background-color : #84b1a7 ;
  }
  
  
  header .inputs  .third{
      position: absolute;
      top: 25%;
      right: 10px;
  
  }
  
  /* SECTION Styling */
  section {
      over
      background-color : #040420 ;
      border-left: 16px solid rgb(251, 255, 252);
      border-right: 16px solid rgb(251, 255, 252); 
      border-bottom: 2px solid rgb(251, 255, 252);
  }

  /* .section-with-border{
      border-left: 2px solid rgb(243, 235, 235);
      /* border-right: 2px solid rgb(243, 235, 235); */
      /* padding: 15px;
  } */
  
  /* First section */
  section .firstSection > div {
      padding: 5px 10px;
  }
  
  section .firstSection > div {
      
      margin-top: 100px;
  }
  
  section .firstSection .bannerBox {
      position: relative;
      overflow: hidden;
  }
  
  section .firstSection .bannerBox img {
      object-fit: cover;
  }
  
  section .firstSection .bannerBox img:hover {
      scale: 1.2;
      transition: all ease 2s;
      border: 1x solid red;
      cursor: pointer;
  }
  
  /* Second Section */
  section .secondSection > div {
      margin-bottom: 10px;
  }
  
  
  section .secondSection .cardBox .leftside .imageBox {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
  
  section .secondSection .cardBox .leftside .imageBox img {
      object-fit: cover;

  }
  
  section .secondSection .cardBox .leftside .imageBox img:hover {
      /* scale: 1.2;
      transition: all ease 1s; */
      cursor: pointer;
      opacity: 0.6;
  }

  section .thirdSection {
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
  }
  
  section .thirdSection > .artistBox  {
      padding: 0 10px;
  }
  
  section .thirdSection .artistBox {
      position: relative;
  }
  
  section .thirdSection .artistImage {
      width: 100%;
      height: auto;
      cursor: pointer;
     
  }
  
  section .thirdSection .text-center{
      font-family: serif;
  }

  section .thirdSection .artistImage img {
      object-fit: cover;
      border-radius: 50%;
  }
  
  
  
  section .forthSection {
      overflow-x: scroll;
      overflow-y: hidden;
      background-color : rgb(20, 30, 50) ;
      scroll-behavior: smooth;
  }

  
  section .forthSection > .artistBox  {
      padding: 0 10px;
  }
  
  section .forthSection .artistBox  {
      position: relative;
      cursor: pointer;
      margin-left: 10px;

  }
  
  section .forthSection .artistImage {
      width: 100%;
      height: auto;
  }


  .fix {
      position: sticky;
      left: 0;
      width: 200px; /*width as needed of fixed block */
      z-index: 1;
      background-color: rgb(20, 30, 50);
 }

 .fix .artistImage{
      border: 10px solid rgb(20, 30, 50);
 }

 .fix .imgInsideText {
    position: absolute;
    top: 30%;
    left: 22%;
    background-color: transparent;
    font-size: 28px;
    font-weight: 600;
    font-family: cursive;
    font-style: italic;  
}

 .move {
      margin-left: 2px; /* Width needed from the fixed box */
      display: flex;
      justify-content: flex-start;
      position: relative;
 }

 .move .artistImage {
      padding-top: 24px;/* maintaing distance from top */
 }

 .move .imgInsideText {
      position: absolute;
      top: 40%;
      left: 20%;
      background-color: transparent;
      font-size: 22px;
      font-weight: 700;
      font-family: cursive;
      font-style: italic;  
}

/* Combined Text set for fix and move class */
  /* section .forthSection .imgInsideText {
      position: absolute;
      top: 40%;
      left: 20%;
      background-color: transparent;
      font-size: 22px;
      font-weight: 700;
      font-family: cursive;
      font-style: italic;
     
  } */
  
  
  section .forthSection .artistImage img {
      object-fit: cover;
      border-radius: 50%;
  }
  


  section .fifthSection {
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
  }
  
  section .fifthSection > .movieBox {
      padding: 0 10px;
  }
  
  section .fifthSection .movieBox .movieImage {
      width: 100%;
      height: auto;
      cursor: pointer;
  }
  
  
  section .fifthSection .movieBox .movieText .movieName {
      color: #fff;
      font-size: 15px;
      font-family: serif;
  }
  
  
  section .fifthSection .movieBox .movieText .movieDate {
      margin-top: -15px;
      font-size: 10px;
      letter-spacing: 1.5px;
      color: white;
  }
  
  
  section .right {
      border: 1px solid #ddd;
      border-top: none;
      border-right: none;
      border-bottom: none;
      margin-top: 100px;
  }

  section .right .imageBox:hover{
      cursor: pointer;
  }

  #heart:hover{
      cursor: pointer;
  }
  
  
  @media only screen and (max-width: 768px) {
  
      
      header .inputs  .second{
        
          width: 100px;
       
      }
  
  }
  